button {
  border-radius: 0px;
  padding: 8px 16px;
  border: 2px solid black;
  outline: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 4px 4px black;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
}
