button {
  border-radius: 0px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 2px solid $lightgray;
  outline: none;
  margin: 12px 0;
  font-size: 14px;
  letter-spacing: 2px;
  //box-shadow: 4px 4px $pink;
  font-weight: 300;
  text-transform: uppercase;
  color: $pink;

  cursor: pointer;
  &:hover {
    border: 2px solid $pink;
    color: white;
    background-color: $pink;
    transition-duration: 350ms;
  }
}

.button-gray {
  background-color: $lightgray;
}
.button-black {
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 0;
}
.button-pink {
  background-color: $pink;
  border-color: $pink;
  color: white;
}
