input {
  border: 2px solid $lightgray;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  outline: none;
  font-weight: 900;
  color: $pink;
  &:focus {
    color: black;
    color: $pink;
  }
}
.bg-gray input,
.bg-gray button {
  border-color: white;
  background-color: $lightgray;
  color: $pink;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

.hbform {
  input {
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    letter-spacing: 1.2px;
    position: relative;
    outline: none;
    &:focus {
      color: black;
    }
  }
  .close-button {
    position: absolute;
    top: -24px;
    right: 24px;
    font-size: 54px;
    font-weight: 500;
    color: var(--orange);
    &:hover {
      color: black;
      transition-duration: 350ms;
    }
  }
  input[type="submit"] {
    font-family: Montserrat;
    padding: 16px 40px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: white;
    text-transform: uppercase;
    border: 2px solid var(--orange-lighter);
    background-color: var(--orange-lighter);
    transition-duration: 350ms;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: transparent;
      transition-duration: 350ms;
      color: var(--orange-lighter);
    }
  }

  // CHECK BOX optional
  /* Hide the browser's default checkbox */
  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    left: 0;
    width: auto;
  }

  /* Create a custom checkbox */
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;

    height: 20px;
    width: 20px;
    border: solid var(--blue) 2px;
    border-radius: 4px;
    background-color: white;
  }
  input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: white;
  }

  input[type="checkbox"]:hover:after {
    background-color: var(--blue);
    transition-duration: 350ms;
  }

  /* When the checkbox is checked, add a blue background */
  input[type="checkbox"]:checked:before {
    border-color: var(--orange);
  }
  input[type="checkbox"]:checked:after {
    background-color: var(--orange);
  }
}
