.menu {
  @extend .container;
  @extend .flex-between;
  .logo {
    object-fit: cover;
    max-width: 120px;
    margin: -8px;
    margin-bottom: -13px;
  }
  .menu-links {
    display: flex;
    align-items: flex-end;
    li {
      margin-left: 24px;
      @extend .animation;
      color: white;
    }
  }
}
