@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  //  font-family: "Noto Serif", serif;
}

h1 {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
h3,
li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

li {
  list-style: none;
  &:hover {
    font-weight: 900;
    transition-duration: 350ms;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.animation {
  position: relative;
  display: inline-block;
  &:after {
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: $pink;
    transition: width 0.3s ease 0s, left 0.3s ease;
    width: 0;
    left: 0;
  }
  &:hover:after {
    width: 100%;
  }
}
