@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  //  font-family: "Noto Serif", serif;
}

p,
h1,
h2,
h3,
h4,
h5,
button {
  margin: 8px 0;
}

p {
  font-size: 12px;
  color: #6b6b6b;
  letter-spacing: 0.4px;
  font-weight: 100;
}

h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 32px;
  margin: 12px 0;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}

li,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

h6 {
  font-weight: 100;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.animation {
  position: relative;
  display: inline-block;
  &:after {
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: $pink;
    transition: width 0.3s ease 0s, left 0.3s ease;
    width: 0;
    left: 0;
  }
  &:hover:after {
    width: 100%;
  }
}

.center {
  text-align: center;
}
.right {
  float: right;
}
